body{
    background: #CCCCCC;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
#banner{
    width:100%;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color:red;
}

#mision{
    font-size: 20px;
}
.items{
    font-style: italic;
}